@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    BookMyShow.com, a platform that offers a plethora of options when it comes to booking tickets.
    Movies, parties, events, and what not—BookMyShow has it all covered. Booking tickets has become
    as easy as ABC courtesy of this venture. But turning into a huge success wasn't an overnight journey
    for BookMyShow.Currently, the company is India’s largest entertainment ticketing platform. Book
    MyShow started out in 1999 as a software re-seller for movie theaters and converted into a platform
    catering to cloud-based events, movies, sports, and plays booking. BookMyShow was known by the name of
    its parent company,Bigtree Entertainment Pvt. Ltd. during inception.
</p>
