@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Big Tree Entertainment Private Limited Ground Floor,<br />
    Gulmohar Cross Road No.7<br />
    Juhu Scheme, Mumbai, Maharashtra – 400049<br />
    <abbr title="Phone">P:</abbr>
    022-61445050 /022 –39895050
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:helpdesk@bookmyshow.com">helpdesk@bookmyshow.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>